body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0b1220;
    color:white;
}

header{
    text-align:center;
    padding:40px 20px;
}

header h1{
    margin:0;
    font-size:40px;
}

header p{
    color:#b8c1d1;
}

main{
    max-width:900px;
    margin:auto;
    display:grid;
    gap:20px;
    padding:20px;
}

.card{
    background:#162033;
    padding:20px;
    border-radius:15px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input,select{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    box-sizing:border-box;
}

button{
    width:100%;
    margin-top:20px;
    padding:15px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#16a34a;
}

#result{
    margin-top:15px;
    background:#0b1220;
    padding:15px;
    border-radius:10px;
    min-height:80px;
}
